:root {
  --primary-color: #233930;
  --background-color: #eee7de;
  --secondary-background-color: #04594d;
  --secondary-color: #d4ede4;
  --main-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  background-color: var(--background-color) !important;
  font-family: var(--main-font-family) !important;
}
.hero {
  padding: 200px 20px !important;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  background-color: var(--background-color);
}
.hero h1 {
  font-size: 80px !important;
  line-height: 1.5;
}

.projects {
  background-color: var(--secondary-background-color);
  color: #d4ede4;
}
.projects-page {
  padding: 100px 20px !important;
  background-color: var(--secondary-background-color);
  color: #d4ede4;
}
.button-custom {
  background-color: var(--secondary-background-color);
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-family: var(--main-font-family);
  margin-top: 40px !important;
}

.button-custom:hover {
  border: 3px solid var(--secondary-background-color);
  border-radius: 30px;
  background-color: var(--background-color);
  transition: all 200ms ease-in-out;
  color: var(--primary-color) !important;
}

.button-projects {
  background-color: var(--background-color);
  border-radius: 30px;
  padding: 15px 30px !important;
  margin: 60px 0 !important;
  margin: 100px 0 !important;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.button-projects:hover {
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}
footer {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.content-container {
  background-color: var(--secondary-background-color);
}
.fa-brands {
  color: #233930;
  width: 100px;
  height: 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: #233930 !important;
}
.nav-link,
.navbar-brand,
.navbar-brand {
  color: #233930 !important;
  font-family: var(--main-font-family) !important;
}
img {
  object-fit: cover;
  height: 400px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px !important;
  }
  .projects h3 {
    font-size: 18px;
  }
  .email-link {
    font-size: 18px;
  }
  img {
    width: auto;
    height: 200px;
  }
  .project-description {
    text-align: center;
    margin: 30px auto !important;
  }
  .col-md-5 {
    text-align: center;
  }
}
