:root {
  --primary-color: #fff;
  --background-color: #0b1930;
  --secondary-color: #4aecb3;
  --main-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

body {
  background-color: var(--background-color) !important;
  font-family: var(--main-font-family) !important;
}
.hero {
  padding: 200px 20px !important;
  color: var(--primary-color);
}
.reveal {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 0.8s ease forwards;
}
.reveal.delay-1 {
  animation-delay: 0.2s;
}
.reveal.delay-2 {
  animation-delay: 0.4s;
}
.reveal.delay-3 {
  animation-delay: 0.6s;
}
.reveal.delay-3 {
  animation-delay: 0.8s;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-up-on-scroll {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.fade-in-up {
  animation: 1.75s both fadeInUp;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out;
}

.hero h1 {
  font-size: 80px !important;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  color: var(--primary-color);
}
.hero h2 {
  font-size: 36px !important;
  font-family: var(--main-font-family);
  color: var(--secondary-color);
}
.projects {
  color: var(--primary-color);
}
.projects h3 {
  font-size: 20px;
}
.projects h2 {
  color: var(--secondary-color);
}
.project-link {
  text-decoration: none;
  color: inherit;
}

.project-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
.work-page {
  padding: 20px !important;
  color: var(--primary-color);
}
.work-page p {
  color: #a9adb7;
}
.button-custom {
  border-radius: 30px;
  border: 1px solid var(--secondary-color);
  padding: 15px 40px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-family: var(--main-font-family);
  margin-top: 40px !important;
  color: var(--secondary-color);
}

.button-custom:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  color: var(--background-color) !important;
}

.button-projects {
  background-color: var(--background-color);
  border-radius: 30px;
  border: 1px solid var(--secondary-color);
  padding: 15px 25px !important;
  margin-top: 60px !important;
  color: var(--secondary-color);
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.button-projects:hover {
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  color: var(--background-color);
}
footer {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.fa-brands,
.fa-envelope {
  color: var(--primary-color);
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  margin: 0 10px;
}

.fa-brands:hover,
.fa-envelope:hover {
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  background: var(--secondary-background-color);
  border-radius: 50%;
  padding: 10px;
}
.contacts {
  color: var(--primary-color);
}
.contacts p {
  font-size: 16px;
  color: var(--primary-color);
}
.email-link {
  text-decoration: none;
  color: var(--primary-color);
}

.email-link:hover {
  text-decoration: underline;
}
.navbar-toggler {
  border-color: var(--primary-color) !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.nav-link,
.navbar-brand {
  font-family: var(--main-font-family) !important;
  font-size: 16px !important;
  color: var(--primary-color) !important;
}
.nav-link:hover {
  text-decoration: underline;
}
.project-container {
  height: 400px;
  overflow: hidden;
}

.project-image {
  min-height: 400px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work-image {
  overflow: hidden;
}
.work-image img {
  max-height: 400px;
  width: auto;
  object-fit: cover;
}
.about-me {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--primary-color);
  text-align: left;
  margin: 0 200px;
}

.heading {
  margin: 50px 0;
  text-align: center;
  color: var(--secondary-color);
}
@media (max-width: 576px) {
  .container p {
    font-size: 14px;
  }
  .container h2 {
    font-size: 22px;
  }
  .button-projects {
    font-size: 14px;
  }
  .about-me {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px !important;
  }
  .hero h2 {
    font-size: 24px !important;
  }
  .project-description {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    color: var(--primary-color) !important;
  }

  .work-page img {
    text-align: center;
    width: 100%;
  }
  .container p {
    margin-bottom: 30px !important;
  }
  .button-projects {
    padding: 10px 20px !important;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .project-container {
    height: 200px;
  }
  .project-image {
    min-height: 200px;
  }
}
@media (max-width: 992px) {
  .heading {
    margin: 70px 20px 20px 20px !important;
  }

  .about-me {
    margin: 30px 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .project-container {
    height: 300px;
  }
  .project-image {
    min-height: 300px;
  }
  .about-me {
    margin: 30px 100px;
  }
}
@media (min-width: 1200px) {
  .work-image img {
    max-width: 400px;
  }

  .about-me {
    text-align: center;
  }
}
